@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NunitoSans-Regular;
  src: url(../../public/font/NunitoSans_Regular.ttf);
}
@font-face {
  font-family: NunitoSans-Regular;
  src: url(../../public/font/NunitoSans_Regular.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-Light;
  src: url(../../public/font/NunitoSans_Light.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-ExtraBold;
  src: url(../../public/font/NunitoSans_ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-Bold;
  src: url(../../public/font/NunitoSans_Bold.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-SemiBold;
  src: url(../../public/font/NunitoSans_SemiBold.ttf) format("truetype");
}

body {
  font-family: NunitoSans-Regular;
}

.bold {
  font-family: NunitoSans-Bold;
}

.extrabold {
  font-family: NunitoSans-ExtraBold;
}

.regular {
  font-family: NunitoSans-Regular;
}

.semibold {
  font-family: NunitoSans-SemiBold;
}

.bg-theme {
  background: #092637;
}

.bg-header {
  background: #081a24;
}

.text-gold {
  color: #fef468;
}

.border-gold {
  border: 1px solid #fef468;
}
