@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NunitoSans-Regular;
  src: url(../../public/font/NunitoSans_Regular.ttf);
}
@font-face {
  font-family: NunitoSans-Regular;
  src: url(../../public/font/NunitoSans_Regular.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-Light;
  src: url(../../public/font/NunitoSans_Light.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-ExtraBold;
  src: url(../../public/font/NunitoSans_ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-Bold;
  src: url(../../public/font/NunitoSans_Bold.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-SemiBold;
  src: url(../../public/font/NunitoSans_SemiBold.ttf) format("truetype");
}

body {
  font-family: NunitoSans-Regular;
  background: #092637;
}

body::-webkit-scrollbar {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(red, green, blue);
  border-radius: 10px;
}

.bold {
  font-family: NunitoSans-Bold;
}

.extrabold {
  font-family: NunitoSans-ExtraBold;
}

.regular {
  font-family: NunitoSans-Regular;
}

.semibold {
  font-family: NunitoSans-SemiBold;
}

.bg-theme {
  background: #092637;
}
.bg-themeLight {
  background: rgba(44, 123, 172, 0.2);
}
.bg-themeLight01 {
  background: rgba(44, 123, 172, 0.1);
}
.bg-themeYellow {
  background: #fdfcf0;
}
.text-themeBlue {
  color: #7f9cad;
}

.bg-header {
  background: #081a24;
}

.text-goldTheme {
  color: #fef468;
}
.text-gold01 {
  color: #ffd835;
}

.border-gold {
  border: 1px solid #fef468;
}
.tab-bg {
  background: #11354b;
}
.tab-activeBg {
  background: rgb(23 67 94);
}

.timer {
  background: linear-gradient(
    89.97deg,
    rgba(215, 66, 66, 0.2) 0.02%,
    rgba(215, 66, 66, 0) 84.56%
  );
  color: #ff6b6b;
}
.border-1 {
  border: 1px solid #2c7bac;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* coin transasition */
.coin_transition {
  transition: transform 0.7s ease;
}

.gold_coin {
  transition: transform 1.2s ease;
  transform: rotateX(0deg);
}

.silver_coin {
  transition: transform 1.2s ease;
  transform: rotateY(360deg);
}

/* toggle button */
.toggle-button {
  position: relative;
  display: inline-block;
  width: 168px;
  height: 46px;
  margin-left: 10px;
}

.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: none !important;
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9cd23;
  /* background-color: ; */
  transition: 0.5s;
  border-radius: 34px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 4px;
  bottom: 3px;
  background-color: #ffffff; /* Set initial color to Silver */
  transition: 0.5s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #c0c0c0; /* Change background color to Silver when checked */
}

input:checked + .slider:before {
  transform: translateX(118px);
}
.text-xxs {
  font-size: 10px;
}
.bg-themeBlue {
  background: #cde8f1;
}
.text-silver,
.text-gold {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #11354b;
  font-weight: bold;
  font-family: "NunitoSans-ExtraBold";
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.text-silver {
  opacity: 1;
  transition: 0.4s;
}

.text-gold {
  opacity: 0;
  transition: 0.4s;
}

input:checked + .slider ~ .text-silver {
  opacity: 0;
}

input:checked + .slider ~ .text-gold {
  opacity: 1;
}

.imageContainer {
  background: linear-gradient(0.69deg, #e1f2f9 0.62%, #a6d7f1 101.27%);
}

.backSlider {
  background-image: url(/images/wave1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
}

.client_grad {
  background: linear-gradient(178deg, #fff, hsla(0, 0%, 100%, 0.71));
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 12px !important;
  font-weight: bold !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 1px !important;
  background: rgba(44, 123, 172, 0.2);
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 1px !important;
  background: rgba(44, 123, 172, 0.2);
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  right: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 12px !important;
  font-weight: bold !important;
}

.tabs-component1 [role="tablist"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 0px 0px;
  background: #092637;
  border-radius: 15px;
}

.tabs-component1 [role="tablist"] button {
  border-bottom: 3px solid;
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: block;
  padding: 0rem 1rem;
  cursor: pointer;
  margin: 0 1px;
  outline: none;
  transition: border 0.2s ease-in-out 0s;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #7f9cad;
  opacity: 0.5;
}

.tabs-component1 [role="tablist"] button.active,
.tabs-component1 [role="tablist"] button:focus,
.tabs-component1 [role="tablist"] button:hover {
  /* border-width: 1px; */
  /* border-color: #ffcb00; */
}

.tabs-component1 [role="tablist"] button.active {
  color: #b7d0df;
  opacity: 1;
}

.tabs-component1 [role="tabpanel"] {
  text-align: left;
}

.tabs-component1.vertical {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tabs-component1.vertical [role="tablist"] {
  flex-direction: column;
}

.tabs-component1.vertical [role="tabpanel"] {
  flex: 1;
}

.tabs-component1 [role="tablist"] button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0;
}

.tabs-component1.vertical [role="tablist"] button.active,
.tabs-component1.vertical [role="tablist"] button:focus,
.tabs-component1.vertical [role="tablist"] button:hover {
  /* border-color: #e9ecef transparent #e9ecef #b41c1c; */
  /* border-bottom: 1px solid; */
}

.abs-001 {
  position: absolute;
  width: 72%;
  top: 31%;
  left: 14%;
  z-index: 1;
}
.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.bg-themeLight001 {
  background-color: rgba(44, 0, 0, 0.2);
}

.text-shine {
  background: linear-gradient(
    110deg,
    rgba(240, 164, 48, 1),
    45%,
    rgba(255, 255, 20, 1),
    55%,
    rgba(240, 164, 48, 1)
  );
  background-size: 260% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textShine 2.5s ease-out infinite alternate;
  font-weight: 900;
}
@keyframes textShine {
  to {
    background-position: -200%;
  }
}

.text-shine::after {
  content: "";
  border-color: rgba(240, 164, 48, 1);
  background: rgba(240, 164, 48, 1);
}
.h-800 {
  height: 800px;
}
.bg-imgAbout {
  background-image: url(../../public/aboutbackfoot.png);
  background-size: cover;
  background-position: right;
}
@media (max-width: 768px) {
  .abs-001 {
    display: none;
  }
}
@media (max-width: 600px) {
  .tabs-component1 [role="tablist"] button {
    border-bottom: 3px solid;
    border-style: solid;
    border-color: transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    display: block;
    padding: 0rem 0.2rem;
    cursor: pointer;
    margin: 0 1px;
    outline: none;
    transition: border 0.2s ease-in-out 0s;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #7f9cad;
    opacity: 0.5;
  }
  .gold_coin {
    transition: transform 1.2s ease;
    transform: rotateX(0deg);
  }

  .silver_coin {
    transition: transform 1.2s ease;
    transform: rotateY(250deg);
  }
  /* toggle button */
  .toggle-button {
    position: relative;
    display: inline-block;
    width: 155px;
    height: 36px;
    margin-left: 10px;
  }

  .toggle-button input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f9cd23;
    /* background-color: ; */
    transition: 0.5s;
    border-radius: 34px;
    overflow: hidden;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 4px;
    bottom: 3px;
    background-color: #ffffff; /* Set initial color to Silver */
    transition: 0.5s;
    border-radius: 50%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.coins_background {
  background-color: #174560;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.13);
}

.coins_backgroun {
  background-color: #0b2f47;
}
.rotate-silver {
  transform: rotate(45deg);
}

input.inputBox {
  font-size: 22px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #666;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}
