@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: NunitoSans-Regular;
  src: url(../../public/font/NunitoSans_Regular.ttf);
}
@font-face {
  font-family: NunitoSans-Regular;
  src: url(../../public/font/NunitoSans_Regular.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-Light;
  src: url(../../public/font/NunitoSans_Light.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-ExtraBold;
  src: url(../../public/font/NunitoSans_ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-Bold;
  src: url(../../public/font/NunitoSans_Bold.ttf) format("truetype");
}

@font-face {
  font-family: NunitoSans-SemiBold;
  src: url(../../public/font/NunitoSans_SemiBold.ttf) format("truetype");
}

body {
  font-family: NunitoSans-Regular;
}

.bold {
  font-family: NunitoSans-Bold;
}

.extrabold {
  font-family: NunitoSans-ExtraBold;
}

.regular {
  font-family: NunitoSans-Regular;
}

.semibold {
  font-family: NunitoSans-SemiBold;
}

.bg-theme {
  background: #092637;
}
.bg-themeLight {
  background: rgba(44, 123, 172, 0.2);
}
.bg-header {
  background: #081a24;
}

.text-goldTheme {
  color: #fef468;
}
.text-gold01 {
  color: #ffd835;
}

.border-gold {
  border: 1px solid #fef468;
}
.tab-bg {
  background: #11354b;
}
.tab-activeBg {
  background: rgb(23 67 94);
}

.timer {
  background: linear-gradient(
    89.97deg,
    rgba(215, 66, 66, 0.2) 0.02%,
    rgba(215, 66, 66, 0) 84.56%
  );
  color: #ff6b6b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.theme-btn {
  display: inline-block;
  border-radius: 8px;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.theme-btn:after {
  width: 100%;
  background: linear-gradient(
    90.12deg,
    #eac954 0.1%,
    #f6e472 12.05%,
    #eac954 22.45%,
    #d7b344 33.88%,
    #c09832 41.16%,
    #b28726 47.4%,
    #bc932e 56.75%,
    #c5a643 68.19%,
    #c5a643 74.43%,
    #ae8323 89.5%,
    #eac954 99.9%
  );
  z-index: -2;
}

.theme-btn:after,
.theme-btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  border-radius: 8px;
}

.theme-btn:before {
  width: 0;
  background: linear-gradient(
    90.12deg,
    #c5a643 0.1%,
    #ae8323 12.05%,
    #c5a643 22.45%,
    #cea83d 33.88%,
    #bc932e 41.16%,
    #b28726 47.4%,
    #c09832 56.75%,
    #d7b344 68.19%,
    #eac954 74.43%,
    #f6e472 89.5%,
    #eac954 99.9%
  );
  transition: all 0.3s;
  z-index: -1;
}

.theme-btn:hover {
  color: #fff;
}

.theme-btn:hover:before {
  width: 100%;
}

/* coin transasition */
.coin_transition {
  transition: transform 0.7s ease;
}

.gold_coin {
  transition: transform 1.2s ease;
  transform: rotateX(0deg);
}

.silver_coin {
  transition: transform 1.2s ease;
  transform: rotateY(360deg);
}

/* toggle button */
.toggle-button {
  position: relative;
  display: inline-block;
  width: 180px;
  height: 60px;
  margin-left: 10px;
}

.toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9cd23;
  /* background-color: ; */
  transition: 0.5s;
  border-radius: 34px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 55px;
  width: 55px;
  left: 4px;
  bottom: 3px;
  background-color: #ffffff; /* Set initial color to Silver */
  transition: 0.5s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #c0c0c0; /* Change background color to Silver when checked */
}

input:checked + .slider:before {
  transform: translateX(118px);
}

.text-silver,
.text-gold {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.text-silver {
  opacity: 1;
  transition: 0.4s;
}

.text-gold {
  opacity: 0;
  transition: 0.4s;
}

input:checked + .slider ~ .text-silver {
  opacity: 0;
}

input:checked + .slider ~ .text-gold {
  opacity: 1;
}

.imageContainer {
  background: linear-gradient(0.69deg, #e1f2f9 0.62%, #a6d7f1 101.27%);
}

.backSlider {
  background-image: url(/images/wave1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50%;
}

.client_grad {
  background: linear-gradient(178deg, #fff, hsla(0, 0%, 100%, 0.71));
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 12px !important;
  font-weight: bold !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 1px !important;
  background: rgba(44, 123, 172, 0.2);
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 1px !important;
  background: rgba(44, 123, 172, 0.2);
  border-radius: 50%;
  height: 30px !important;
  width: 30px !important;
  right: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  font-size: 12px !important;
  font-weight: bold !important;
}
